<%- include("partials/header") -%>
    

<h1>the rules are typed here</h1>

    <form action="/rules" method="post">


        <button class="btn btn-primary" type="submit" name="play" value="play">I am ready to begin</button>

    </form>





    <%- include("partials/footer") -%>