<%- include("partials/header")-%>

  <link rel="stylesheet" href="/css/START.css">
  </link>

  <div class="heading">

    <h1>OPERATION ZODIAC</h1>
    <div class="container main ">
      <form action="/START" method="post">
        <div class="mb-3 ">
        <div class="col-xs-2">


          <input type="text" class="form-control lg-5"  placeholder="Team Name" name="Username"  value="" >
        
        </div>
        </div>
        
        <button class="btn btn-primary" type="submit" name="play" value="">PLAY</button>
      </form>


    </div>

  </div>



 <%- include("partials/footer") %> 