<%- include("partials/header")-%>

  <link rel="stylesheet" href="/css/START.css">
  </link>

  <div class="heading">

    <h1>OPERATION ZODIAC</h1>
    <div class="container main ">
      <div class="d-grid gap-2 col-6 mx-auto">
        <form action="/start" method="post">


          <button class="btn btn-primary" type="submit" name="play" value="play">PLAY</button>

        </form>

      </div>


    </div>

  </div>



 <%- include("partials/footer") %> 