<%- include('../../partials/header.ejs') %>
    <link rel="stylesheet" href="/css/round1.css">
    You have recieved a mail from the killer himslef, when you open it you find a map with something wriiten at the
    bottom.



    <div class="map">


        <img src="https://worldmapwithcountries.net/wp-content/uploads/2018/05/World_map-13.jpg" alt="map" width="400px"
            height="300px">

    </div>


    <h1>Croatia (E,N), N39, E21</h1>



    <p>This should be the clue related to the location of the crime,enter the location of the first murder</p>
    <div class="form-group row">
        <form action="/questions/round1/feed" method="post">

    

                <input  type="text" placeholder="enter" name="answer" value="">

            
            <button class="btn btn-primary" type="submit" name="play" value="question12">submit</button>

        </form>
    </div>

    <%- include("../../partials/footer.ejs") %>