<%- include('../../partials/header.ejs') %>
    <link rel="stylesheet" href="/css/round1.css">
   this is question 13
    <div class="form-group row">
        <form action="/questions/round1/question13" method="post">

    

                <input  type="text" placeholder="enter" name="answer" value="">

            
            <button class="btn btn-primary" type="submit" name="play" value="question14">submit</button>

        </form>
    </div>

    <%- include("../../partials/footer.ejs") %>